html, body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
p{
word-break:break-all;
line-height:30px;
}
a{
    display:inline-block;
    text-align:center;
    line-height:30px;
}
center{
line-height:50px;
}
#menu{
    position: absolute;
    left: 0px;
    top: 0px;
    background:white;
    box-shadow: 20px 2px 3px rgba(1,1,1,0.1);
    font-size: 0;
}
#menu_title{
    margin-left:0;
    text-align:center;
    color:#665AE9;  
}
.first_bar{
    margin-left:10px;
    color:rgb(126,126,126);	 
}
.second_bar{
    color:rgb(126,126,126);	
}
.second_bar:hover{
    background:rgba(231,170,139,0.6);	
}
#home {
    background: rgba(255,0,220,0.4);
    position: relative;
    text-align: center;
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-size:20px;
    border-radius:6px;
}
#home:hover {
    background: rgba(255,0,220,0.7);
}
#second_bar_first{
    margin:0;
    margin-block-start:0;
    margin-block-end: 0;
    background:rgba(138,203,123,0.3);	
}
#second_bar_first:hover{
    background:rgba(138,203,123,0.6);	
}
#second_bar_first_title{
    color:rgb(126,126,126);
    position:relative;
}
.second_bar_title{
    color:rgb(126,126,126);
    position:relative;
}
.menu_img_start{
    position:relative;
}
.menu_img_end{
    position:relative;
}
#copy{
    position:relative;
    text-align:center;
}
.section{
    position: absolute;
    overflow-y: scroll;
   padding-right:20px;
}
h1{
    text-align:center;
}
.section_img {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}